$principal-font: 'Montserrat', sans-serif;

* {
    padding: 0; margin: 0;
}

html{
    font-size: 16px;
}


.container{
    width: 61%;
    margin: 0 auto;

    .profile-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3.75rem 0;

        .profile-photo {
            max-width: 9.75rem;
            max-height: 9.75rem;
            border-radius: 1rem;
        }

        #profile-name {
            font-size: 1.5rem;
            font-family: $principal-font;
            margin-top: 1rem;
            margin-bottom: 0.625rem;
        }

        #description{
            font-size: 0.875rem;
            font-family: $principal-font;
            color: #A9A9A9;
            margin-bottom: 1.25rem;
        }

        .stats{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1.5rem;

            .card{
                width: 6.25rem;
                height: 4.19rem;
                border-radius: 0.75rem;
                background: #E5E5E5;
                font-family: $principal-font;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .number{
                    color: #4E5150;
                    font-size: 1.13rem;
                }

                .text{
                    color: #BDBDBD;
                    font-size: 0.875rem;
                }
            }
        }
    }
    
    .gallery{ 
        margin-top: 0.6rem;
        display: grid;
        grid-template-columns:  repeat(3, 1fr);
        grid-template-rows:  repeat(3, 1fr);
        gap: 1.875rem;

        .caja {
            width: 100%;
            background: orange;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }

        .gallery_img{
            width: 100%;
            height: 100%;
            border-radius: 0.75rem;

            &:nth-child(2),
            &:nth-child(3) {
                grid-column: span 2;
            }

            &:nth-child(4){
                grid-row: span 2;
            }
        }
    }

    .footer{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 170px;
        padding-bottom: 0.625rem;
        font-family: $principal-font;
        font-size: 0.875rem;
        color: #B9BDCF;

        a {
            text-underline-offset: 3px;
            color: #4E5150;
            padding: 0 3px;
        }
    }
}


// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 
    html {
        font-size: 14px;
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
    .container{
        width: 80%;

        .gallery {
            gap: 0.875rem;
        }
    }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    html {
        font-size: 14px;
    }

    .container{
        width: 95%; 

        .profile-header{ 
            padding: 2rem 0;

            .profile-photo{
                width: 7.25rem;
                height: 7.25rem;
            }

            #profile-name{
                font-size: 1rem;
            }

            .stats{
                gap: 1rem;
                .card {
                    width: 82px;
                    height: 50px;

                    .number {
                        font-size: 0.875rem;
                    }
                }
            }
        }

        .gallery {
            gap: 10px;
        }

        .footer{
            height: 100px;
            padding-bottom: 0.625rem;
            color: #B9BDCF;
    
            a {
                text-underline-offset: 3px;
                color: #4E5150;
            }
        }
    }
}